* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-image: url("blue_and_red.jpg");  
}

h1 {
  color: white;
  padding: 30px 20px;
  height: 80%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
label,option,select{	
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 20px;
margin-left: 20px;
letter-spacing: 2px;
word-spacing: 2px;
color: white;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
	}
option,select{	
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 20px;
letter-spacing: 2px;
word-spacing: 2px;
color: black;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
	}
input[type=text], select {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;
  margin-right: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=checkbox] {
  zoom:1.5;
  width: 200%;
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=button]{
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #e7e7e7;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

placeholder{
 font-family: "Comic Sans MS", cursive, sans-serif;
}
input[type=submit]{
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: red;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-style: "color:white"
}

/* Style tab links */
.tablink {
 color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #ed3330;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.tablink:hover {
 background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#mperess,#mperess_text{
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 40px;
letter-spacing: 2px;
word-spacing: 2px;
color: white;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
background-image: url("blue_and_red.jpg");
}
#mperess_text{
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 20px;
letter-spacing: 2px;
word-spacing: 2px;
color: white;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
background-image: url("blue_and_red.jpg");
}
#preadvice_text,#mperess1d_text{
	margin: 10px 0 10px;
}